@import "variables";
@import "responsive";

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  text-align: left;
  font-family: $textFont;
  color: $textColor;

  @include phone {
    padding: 0 25px;
  }

  h1, h2 {
    font-family: $titleFont;
  }
}
