@import "variables";

.App {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
  text-align: left;
  font-family: $textFont;
  color: $textColor;

  h1, h2 {
    font-family: $titleFont;
  }
}
