@import "responsive";

.footer {
  margin-top: 100px;

  .footer-links {
    .social-list {
      text-align: center;
      width: 100%;
      margin-bottom: 50px;

      li {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin: 0 20px;

        @include phone {
          margin: 0 10px;
        }
      }
    }

  }

  .footer-copyright {
    text-align: center;
    font-size: 0.9em;
    color: #6f6f6f;
    margin-bottom: 50px;
  }
}
