@import "variables";
@import "responsive";

.header-container {

  margin: 0% 0 25px 0;

  .my-name {
    font-size: 6em;
    margin-bottom: 0;

    .last-name {
      color: $primaryColor;
    }

    @include tablet {
      font-size: 5em;
    }

    @include phone {
      font-size: 4em;
      line-height: 1.2em;
      margin-bottom: 20px;
    }

  }

  .my-description {
    margin-top: 5%;
    font-size: 1.2em;
    line-height: 0.8em;
    @include tablet {
      line-height: 1.5em;
    }
  }

  .arrow-down {
    margin-bottom: 50px;
    svg {
      color: #4a4a4a;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @include tablet {
      display: none;
    }
  }
}
