@import "variables";

.project {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;

  margin-bottom: 60px;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.05) 0 50px 100px 0px, rgba(50, 50, 93, 0.1) 0 15px 35px 0px, rgba(0, 0, 0, 0.1) 0 5px 15px 0;
  border-radius: 5px;


  .project-image {
    width: 60%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .project-content {
      padding: 50px;
      width: 50%;
      z-index: 2;
      background-color: white;

      .project-title {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 25px;
      }

      .project-description {
        margin-bottom: 30px;
      }

      .project-tags {
        padding:0;
        color: $primaryColor;
        margin-bottom: 50px;
        li {
          display: inline;
          margin-right: 20px;
          border-radius: 3px;
          padding: 5px 10px;
          border: 1px solid $primaryColor;
        }
      }

      .project-button {
        margin-top: 30px;
        margin-bottom: 10px;

        a{
          text-decoration: none;
          color: white;
          background-color: $primaryColor;
          border-radius: 4px;
          padding: 10px 10px;
          border: 1px solid $primaryColor;
          box-shadow: rgba(50, 50, 93, 0.05) 0 50px 100px 0px, rgba(50, 50, 93, 0.1) 0 15px 35px 0px, rgba(0, 0, 0, 0.1) 0 5px 15px 0;
        }
      }
    }
}
