@import "variables";

.header-container {
  .my-name {
    font-size: 4em;
    margin-bottom: 0;

    .last-name {
      color: $primaryColor;
    }

  }

  .my-description {
    font-size: 1.2em;
    line-height: 1.5em;
  }
}
